/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: auto;
}

.topnav {
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: bold;
    margin: 20px 50px 40px 0px;
}

a {
    text-decoration: none;
}

.aboutsection {
    font-weight: bold;
    font-size: 18px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
}


.top-img {
    width: 100%;
    margin-bottom: 40px;
}

section p {

}


ol, ul {
    list-style: none;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-weight: bold;
}

.road {
    margin-bottom: 20px;
}

.future {
    display: flex;
    justify-content: space-around;
}
.text-container {
    width: 47%;
}

.container {
    width: 800px;
    margin: 0 auto;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
    font-weight: bold;
}


.topsection {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.middle-content {
    display: flex;

}

.box {
    flex-direction: column;
    width: 48%;
    border-bottom: 1px dashed black;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.bottomsection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.button {
    text-align: center;
    margin-top: 20px;
    border: solid 4px black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 40%;
}

section img {
    margin-bottom: 10px;
}

.letsworktogether {
    margin-bottom: 30px;
    width: 90%;
    margin: auto;
}


footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    margin-top: 30px;
}


footer nav a {
    color: white;
    text-decoration: none;
}

.middle-boxes {
    border-bottom: 1px dashed black;
    margin-bottom: 30px;
}

.boxes {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.box {
    margin: 20px;
}

.colorful {
    height: 100px;
    width: 100px;
    padding-top: 40px;
}

.box1 {
    background: teal;
}

.box2 {
    background: gold;

}

.box3 {
    background: cadetblue;

}

.box4 {
    background: coral;

}

.box5 {
    background: crimson;

}

.box6 {
    background: forestgreen;

}

.box7 {
    background: darkorchid;

}

.box8 {
    background: hotpink;

}

.box9 {
    background: indigo
    
}

.box10 {
    background: dodgerblue;

}


.bottom-content {
    display: flex;
    font-weight: bold;
}

.text-container {
    margin-bottom: 20px;
}